body{background-color: rgb(231, 221, 209);}


    /* Set black background color, white text and some padding */
    footer {
      background-color: #040404;
      color: rgb(255, 255, 255);
      padding: 10px;
    }

